<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">

    <display-name>rex-services</display-name>


    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <!--<listener>
        <listener-class>
            com.mergeit.mergeapp.listeners.EntityManagerFactoryListener
        </listener-class>
    </listener>-->

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/factories/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/session/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>SERVICE_VERSION</param-name>
        <param-value>2</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>


    <context-param>
        <param-name>PROJECT_STAGE</param-name>
        <param-value>production</param-value>
    </context-param>


    <context-param>
        <param-name>FILE_ROOT_DEV</param-name>
        <param-value>E:/fileserver</param-value>
    </context-param>


    <context-param>
        <param-name>FILE_ROOT_VAR</param-name>
        <param-value>user.home</param-value>
    </context-param>

    <context-param>
        <param-name>API_KEY</param-name>
        <!--fluid_platform_super_application_by_jerico_deguzman-->
        <param-value>Zmx1aWRfcGxhdGZvcm1fc3VwZXJfYXBwbGljYXRpb25fYnlfamVyaWNvX2RlZ3V6bWFu</param-value>
    </context-param>


    <context-param>
        <param-name>FILE-SERVICE</param-name>
        <param-value>services/util/</param-value>
    </context-param>

    <context-param>
        <param-name>FILE-HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>

    <context-param>
        <param-name>FILE-PORT</param-name>
        <param-value>9080</param-value>
    </context-param>


    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.supportedMethods</param-name>
            <param-value>GET, POST, HEAD, PUT, DELETE, OPTIONS</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>

        <init-param>
            <param-name>cors.supportedHeaders</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>Resteasy</servlet-name>
    </filter-mapping>


    <!-- add mime types -->
    <!-- open office-->
    <mime-mapping>
        <extension>ods</extension>
        <mime-type>application/vnd.oasis.opendocument.spreadsheet</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>odp</extension>
        <mime-type>application/vnd.oasis.opendocument.presentation</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>odt</extension>
        <mime-type>application/vnd.oasis.opendocument.text</mime-type>
    </mime-mapping>
    <!--end open office -->
</web-app>

